<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootTest2.mapper.QnAMapper">
<sql id="baseColumns">
	qna_num, qna_subject, qna_content, visit_count, qna_regi_date
</sql>
<sql id="maxNum">
	select nvl(max(qna_num),0) + 1 from qna
</sql>

<sql id="qTime">
	select nvl(max(qna_regi_date), sysdate) from qna
</sql>

<insert id="qnaInsert" 
		parameterType="springBootTest2.domain.QnADTO" >
		insert into qna( <include refid="baseColumns" /> )
		values(( <include refid="maxNum" />) , #{qnaSubject}, #{qnaContent},
		 0, ( <include refid="qTime" />))
</insert>

<select id="selectAll" 
	resultType="springBootTest2.domain.QnADTO">
		select qna_num qnaNum, qna_subject qnaSubject, 
		visit_count visitCount, qna_regi_date qnaRegiDate
		from qna
</select>

<select id="selectOne" 
	resultType="springBootTest2.domain.QnADTO">
		select qna_num qnaNum, qna_subject qnaSubject, qna_content qnaContent,
		visit_count visitCount, qna_regi_date qnaRegiDate
		from qna 
		where qna_num = #{qnaNum}
</select>
</mapper>